@{
    ViewData["Title"] = "AIS Post Compliance";
    Layout = "_Layout";
}
<script type="text/javascript">
    var postComplianceData = [];
    var tableFields = [
        "P_NAME","C_NAME","COM_ID","OLD_PARA_ID","NEW_PARA_ID","AUDIT_PERIOD",
        "ENTITY_ID","ENTITY_CODE","AUDITED_BY","ENTITY_TYPE_ID","COM_CYCLE",
        "COM_STATUS","COM_STAGE","PARA_STATUS","PARA_NO","GIST_OF_PARAS",
        "SETTELED_ON","SETTELED_BY","IND","PARA_ADDED_ON","CAU_STATUS",
        "CAU_ASSIGNED_ENT_ID","BR_RESPONSE_BY","BR_RESPONSE_ON","CAU_ASSIGNED_BY",
        "CAU_ASSIGNED_ON","SETTLEMENT_COM_REVIEWED_BY","SETTLEMENT_COM_REVIEWED_ON",
        "RISK","ANNEX"
    ];
    function getZoneBranches() {
        destroyDatatable('manageObsPanel');
        $('#branchSelectField').empty();
        if ($('#zoneSelectField option:selected').val() != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_zone_Branches",
                type: "POST",
                data: {
                    'ZONEID': $('#zoneSelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    $('#branchSelectField').append('<option value="0" id="0">--Select Branch--</option>');
                    $.each(data, function (i, v) {
                        $('#branchSelectField').append('<option value="' + v.branchid + '" id="' + v.branchid + '">' + v.branchname + '</option>');
                    })
                },
                dataType: "json",
            });
        }
    }
    function getPostCompliance() {
        destroyDatatable('manageObsPanel');
        $('#manageObsPanel tbody').empty();
        if ($('#branchSelectField option:selected').val() != 0) {
            $.ajax({
                url: g_asiBaseURL + "/ApiCalls/get_ais_post_compliance_details",
                type: "POST",
                data: {
                    'ENT': $('#branchSelectField option:selected').val()
                },
                cache: false,
                success: function (data) {
                    postComplianceData = data;
                    $.each(data, function (idx, v) {
                        var row = '<tr data-index="' + idx + '"><td>' + (idx + 1) + '</td>';
                        $.each(tableFields, function(_, f){
                            var val = v[f];
                            if (val === undefined) val = v[f.toLowerCase()];
                            if (val === undefined) val = v[f.toUpperCase()];
                            row += '<td>' + (val !== undefined ? val : '') + '</td>';
                        });
                        row += '<td><button class="btn btn-sm btn-primary" onclick="openUpdateModal(' + idx + ');">Update</button></td></tr>';
                        $('#manageObsPanel tbody').append(row);
                    });
                    initializeDataTable('manageObsPanel');
                },
                dataType: "json",
            });
        }
    }
    function openUpdateModal(index) {
        var d = postComplianceData[index];
        $('#rowIndex').val(index);
        for (var key in d) {
            var id = '#upd_' + key.toUpperCase();
            if ($(id).length)
                $(id).val(d[key]);
        }
        $('#updateModal').modal('show');
    }
    function submitUpdate() {
        var idx = $('#rowIndex').val();
        var payload = {};
        $('#updateModal input').each(function(){
            payload[$(this).attr('name')] = $(this).val();
        });
        $.ajax({
            url: g_asiBaseURL + "/ApiCalls/update_ais_post_compliance",
            type: "POST",
            data: payload,
            cache: false,
            success: function (resp) {
                alert(resp.Message);
                $('#updateModal').modal('hide');
                getPostCompliance();
            },
            dataType: "json",
        });
    }
</script>
<h3 style=" display:block;color: #45c545;" class="mt-3">@ViewData["Title"]</h3>
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Reporting Office:</b></label>
    </div>
    <div class="col-md-10">
        <select id="zoneSelectField" onchange="getZoneBranches()" class="form-control form-select">
            <option value="0" id="0">--Select Reporting Office--</option>
            @{
                if (ViewData["ZonesList"] != null)
                {
                    foreach (var item in (dynamic)(ViewData["ZonesList"]))
                    {
                        <option value="@item.ZONEID" id="@item.ZONEID">@item.ZONENAME</option>
                    }
                }
            }
        </select>
    </div>
</div>
<div class="row col-md-12 mt-3">
    <div class="col-md-2">
        <label><b>Entity:</b></label>
    </div>
    <div class="col-md-10">
        <select id="branchSelectField" onchange="getPostCompliance();" class="form-control form-select">
            <option value="0" id="0">--Select Entity--</option>
        </select>
    </div>
</div>
<div class="row col-md-12 mt-4">
    <table id="manageObsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: #19875478 !important; ">
            <tr>
                <th>Sr. No.</th>
                <th>P NAME</th>
                <th>C NAME</th>
                <th>COM ID</th>
                <th>OLD PARA ID</th>
                <th>NEW PARA ID</th>
                <th>AUDIT PERIOD</th>
                <th>ENTITY ID</th>
                <th>ENTITY CODE</th>
                <th>AUDITED BY</th>
                <th>ENTITY TYPE ID</th>
                <th>COM CYCLE</th>
                <th>COM STATUS</th>
                <th>COM STAGE</th>
                <th>PARA STATUS</th>
                <th>PARA NO</th>
                <th>GIST OF PARAS</th>
                <th>SETTELED ON</th>
                <th>SETTELED BY</th>
                <th>IND</th>
                <th>PARA ADDED ON</th>
                <th>CAU STATUS</th>
                <th>CAU ASSIGNED ENT ID</th>
                <th>BR RESPONSE BY</th>
                <th>BR RESPONSE ON</th>
                <th>CAU ASSIGNED BY</th>
                <th>CAU ASSIGNED ON</th>
                <th>SETTLEMENT COM REVIEWED BY</th>
                <th>SETTLEMENT COM REVIEWED ON</th>
                <th>RISK</th>
                <th>ANNEX</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="updateModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="min-width:90% !important;">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Update Post Compliance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="rowIndex" />
                <div class="row">
                    <div class="col-md-3"><label>P_NAME</label><input id="upd_PNAME" name="PNAME" class="form-control" /></div>
                    <div class="col-md-3"><label>CNAME</label><input id="upd_CNAME" name="CNAME" class="form-control" /></div>
                </div>
                <div class="row mt-2">
                <div class="row">
                    <div class="col-md-3"><label>COMID</label><input id="upd_COMID" name="COMID" class="form-control" /></div>
                    <div class="col-md-3"><label>OLD_PARA_ID</label><input id="upd_OLD_PARA_ID" name="OLD_PARA_ID" class="form-control" /></div>
                    <div class="col-md-3"><label>NEW_PARA_ID</label><input id="upd_NEW_PARA_ID" name="NEW_PARA_ID" class="form-control" /></div>
                    <div class="col-md-3"><label>AUDIT_PERIOD</label><input id="upd_AUDIT_PERIOD" name="AUDIT_PERIOD" class="form-control" /></div>
                    <div class="col-md-3"><label>ENTITY_ID</label><input id="upd_ENTITY_ID" name="ENTITY_ID" class="form-control" /></div>
                    <div class="col-md-3"><label>ENTITY_CODE</label><input id="upd_ENTITY_CODE" name="ENTITY_CODE" class="form-control" /></div>
                    <div class="col-md-3"><label>AUDITED_BY</label><input id="upd_AUDITED_BY" name="AUDITED_BY" class="form-control" /></div>
                    <div class="col-md-3"><label>ENTITY_TYPE_ID</label><input id="upd_ENTITY_TYPE_ID" name="ENTITY_TYPE_ID" class="form-control" /></div>
                    <div class="col-md-3"><label>COM_CYCLE</label><input id="upd_COM_CYCLE" name="COM_CYCLE" class="form-control" /></div>
                    <div class="col-md-3"><label>COM_STATUS</label><input id="upd_COM_STATUS" name="COM_STATUS" class="form-control" /></div>
                    <div class="col-md-3"><label>COM_STAGE</label><input id="upd_COM_STAGE" name="COM_STAGE" class="form-control" /></div>
                    <div class="col-md-3"><label>PARA_STATUS</label><input id="upd_PARA_STATUS" name="PARA_STATUS" class="form-control" /></div>
                    <div class="col-md-3"><label>PARA_NO</label><input id="upd_PARA_NO" name="PARA_NO" class="form-control" /></div>
                    <div class="col-md-3"><label>GIST_OF_PARAS</label><input id="upd_GIST_OF_PARAS" name="GIST_OF_PARAS" class="form-control" /></div>
                    <div class="col-md-3"><label>SETTELED_ON</label><input id="upd_SETTELED_ON" name="SETTELED_ON" class="form-control" /></div>
                    <div class="col-md-3"><label>SETTELED_BY</label><input id="upd_SETTELED_BY" name="SETTELED_BY" class="form-control" /></div>
                    <div class="col-md-3"><label>IND</label><input id="upd_IND" name="IND" class="form-control" /></div>
                    <div class="col-md-3"><label>PARA_ADDED_ON</label><input id="upd_PARA_ADDED_ON" name="PARA_ADDED_ON" class="form-control" /></div>
                    <div class="col-md-3"><label>CAU_STATUS</label><input id="upd_CAU_STATUS" name="CAU_STATUS" class="form-control" /></div>
                    <div class="col-md-3"><label>CAU_ASSIGNED_ENT_ID</label><input id="upd_CAU_ASSIGNED_ENT_ID" name="CAU_ASSIGNED_ENT_ID" class="form-control" /></div>
                    <div class="col-md-3"><label>BR_RESPONSE_BY</label><input id="upd_BR_RESPONSE_BY" name="BR_RESPONSE_BY" class="form-control" /></div>
                    <div class="col-md-3"><label>BR_RESPONSE_ON</label><input id="upd_BR_RESPONSE_ON" name="BR_RESPONSE_ON" class="form-control" /></div>
                    <div class="col-md-3"><label>CAU_ASSIGNED_BY</label><input id="upd_CAU_ASSIGNED_BY" name="CAU_ASSIGNED_BY" class="form-control" /></div>
                    <div class="col-md-3"><label>CAU_ASSIGNED_ON</label><input id="upd_CAU_ASSIGNED_ON" name="CAU_ASSIGNED_ON" class="form-control" /></div>
                    <div class="col-md-3"><label>SETTLEMENT_COM_REVIEWED_BY</label><input id="upd_SETTLEMENT_COM_REVIEWED_BY" name="SETTLEMENT_COM_REVIEWED_BY" class="form-control" /></div>
                    <div class="col-md-3"><label>SETTLEMENT_COM_REVIEWED_ON</label><input id="upd_SETTLEMENT_COM_REVIEWED_ON" name="SETTLEMENT_COM_REVIEWED_ON" class="form-control" /></div>
                    <div class="col-md-3"><label>RISK</label><input id="upd_RISK" name="RISK" class="form-control" /></div>
                    <div class="col-md-3"><label>ANNEX</label><input id="upd_ANNEX" name="ANNEX" class="form-control" /></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submitUpdate();">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>