@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<style type="text/css">
    .container{
        max-width:100%;
    }
    .card-header {
        background-color: transparent !important;
        font-size: 20px;
        height: 100px;
    }
    .icon-card{
        margin:10px;
    }
</style>



<div class="row justify-content-center">
    <div class="col-md-8 text-center mt-3">
        <img class="img-fluid mx-auto d-block" src="~/Images/home.png" alt="Home Image" />
    </div>
</div>
