@{
    ViewData["Title"] = "System Maintenance";
}
<div class="text-center mt-5">
    <img src="~/Images/ztbllogo.png" style="height:200px;" class="mb-3" />
    <h2 class="fw-bold mb-3" style="color: #51515d;">System Under Maintenance</h2>
    <p class="lead">The system is currently unavailable. Please try again later.</p>
</div>
