@{
    ViewData["Title"] = "Assign Division";
    Layout = "_Layout";
}
<h4>Assign Division</h4>
<p>Compliance &amp; ICFR Division forwards the observation to the appropriate division.</p>
<form>
    <div class="form-group">
        <label for="division">Division</label>
        <select class="form-control" id="division">
            <option>-- Select Division --</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
</form>
