@{
    ViewData["Title"] = "Allocate Entity To Auditor";
    Layout = "_Layout";
}
<h4>Allocate Entity To Auditor</h4>
<button id="openAllocateModal" class="btn btn-primary mb-3">Assign Entity</button>
<div class="modal fade" id="allocateModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Allocate Entity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <select id="relationType" class="form-select mb-2"></select>
                <select id="reportingOffice" class="form-select mb-2"></select>
                <table class="table" id="entitiesTable">
                    <thead><tr><th></th><th>Entity</th></tr></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button id="allocateBtn" class="btn btn-primary" disabled>Allocate</button>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
    $('#openAllocateModal').click(function(){
        $('#allocateModal').modal('show');
        $.post(g_asiBaseURL+'/ApiCalls/GetRelationTypes',function(d){
            var sel=$('#relationType'); sel.empty().append('<option value="">Relation Type</option>');
            $.each(d,function(i,it){ sel.append('<option value="'+it.id+'">'+it.name+'</option>');});
        });
    });
    $('#relationType').change(function(){
        var id=$(this).val();
        $('#reportingOffice').empty().append('<option value="">Reporting Office</option>');
        if(id){
            $.post(g_asiBaseURL+'/ApiCalls/GetReportingOffices',{relationTypeId:id},function(d){
                $.each(d,function(i,it){$('#reportingOffice').append('<option value="'+it.id+'">'+it.name+'</option>');});
            });
        }
    });
    $('#reportingOffice').change(function(){
        var id=$(this).val();
        $('#entitiesTable tbody').empty();
        if(id){
            $.post(g_asiBaseURL+'/ApiCalls/GetEntitiesForOffice',{reportingOfficeId:id},function(d){
                $.each(d,function(i,it){
                    $('#entitiesTable tbody').append('<tr><td><input type="checkbox" class="entChk" value="'+it.entityId+'"/></td><td>'+it.name+'</td></tr>');
                });
            });
        }
    });
    $(document).on('change','.entChk',function(){
        $('#allocateBtn').prop('disabled',$('.entChk:checked').length==0);
    });
    $('#allocateBtn').click(function(){
        var ent=$('.entChk:checked').first().val();
        if(!ent) return;
        var auditorPPNO=@(Context.Session.GetInt32("PPNumber") ?? 0);
        $.post(g_asiBaseURL+'/ApiCalls/AllocateEntitiesToAuditor',{azId:0,entId:ent,auditorPPNO:auditorPPNO},function(){
            $('#allocateModal').modal('hide');
        });
    });
});
</script>
